<p id="notice"><%= notice %></p>

<p>
  <strong>Alfa:</strong>
  <%= @mate.alfa %>
</p>

<p>
  <strong>Beta:</strong>
  <%= @mate.beta %>
</p>

<p>
  <strong>Gama:</strong>
  <%= @mate.gama %>
</p>

<%= link_to 'Edit', edit_mate_path(@mate) %> |
<%= link_to 'Back', mates_path %>
